<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556542226965-l0590uvnsvre61lvehquhs329blkuoe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556542226965-l0590uvnsvre61lvehquhs329blkuoe0</string>
	<key>API_KEY</key>
	<string>AIzaSyCkxaRkIudHRaS1_NDJThaS5z6IkBLFdlo</string>
	<key>GCM_SENDER_ID</key>
	<string>556542226965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e6b52</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e6b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556542226965:ios:ec296059ba06f664a7141c</string>
</dict>
</plist>